{% extends '0Base.html' %} {% block head %} {% endblock %} {% block title %} Cody | Play {% endblock %} {% block navBar %}

<div></div>{% endblock %} {% block body %}

<div class='container '>
    <div class='row py-4'>
        <div class='col'>
            <p class="text-center fw-bold fs-1">Cody</p>
        </div>
    </div>
    <div class='row pt-2'>
        {% for category in categories %}
        <div class='col'>
            <p class="text-center fw-bold fs-4" id="{{'c-'+loop.index|string}}">{{ category }}</p>
        </div>
        {% endfor %}
    </div>
    <div class='row py-2'>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-1">10</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-2">10</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-3">10</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-4">10</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-5">10</button></div>
    </div>
    <div class='row py-2'>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-1">20</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-2">20</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-3">20</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-4">20</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-5">20</button></div>
    </div>
    <div class='row py-2'>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-1">30</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-2">30</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-3">30</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-4">30</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-5">30</button></div>
    </div>
    <div class='row py-2'>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-1">40</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-2">40</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-3">40</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-4">40</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-5">40</button></div>
    </div>
    <div class='row py-2'>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-1">50</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-2">50</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-3">50</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-4">50</button></div>
        <div class='col'><button type="button" class="cb btn btn-secondary btn-lg w-100" data-bs-toggle="modal" data-bs-target="#modal-question" value="c-5">50</button></div>
    </div>
</div>

<div class="modal fade" id="modal-question" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header border-bottom border-secondary">
                <h5 class="modal-title fs-3" id="label-question">Question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <p class="fs-5" id="question"></p>
                <pre class="fs-5" id="question-code"></pre>
                <img class="mx-auto d-block w-75 h-auto" id="question-img" src="" alt="Some image">
            </div>
            <div class="modal-footer border-top border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-answer">Answer</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-answer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content bg-dark">
            <div class="modal-header border-bottom border-secondary">
                <h5 class="modal-title fs-3" id="label-answer">Answer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-5">
                <p class="fs-5" id="answer"></p>
                <pre class="fs-5" id="answer-code"></pre>
                <img class="mx-auto d-block w-75 h-auto" id="answer-img" src="" alt="Some image">
            </div>
            <div class="modal-footer border-top border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block foot %}
<script src="{{ url_for( 'static',filename='js/index.js' ) }} "></script>{% endblock %}