{% extends 'base.html' %}
{% block title %}Cody | Home{% endblock %}
{% block body %}
<div class="container p-4">
    <h3>Overview</h3>
    <p>This is a game based on Jeopardy but uses questions related to computer science.</p>
    <h4>About the game</h4>
    <p>It is a simple quiz game. Every game has categories and each category consists of options of
        varying value. Higher the value, the harder the questions. The game is started by one player
        picking one of the options. The option will show a question and all the players are able to
        answer; the first to answer correctly wins. If the player guesses the right answer they get
        the points equal to the value of the option or lose points if wrong. The player also gets
        to pick the next option.</p>
</div>
{% endblock %}
